<VirtualHost *:{{item.port}}>

   ServerName www.{{item.name}}.fr
   serverAdmin www.{{item.name}}.fr

   DocumentRoot {{item.document_root}}{{item.name}}

   CustomLog /var/www/{{item.name}}/logs/{{item.name}}.log combined

   ErrorLog /var/www/{{item.name}}/logs/{{item.name}}-error.log





   <Directory var/www/{{item.name}}>
        Options All
        AllowOverride None
   </Directory>
</VirtualHost>

